{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GVP College of Engineering for Women</title>
        <meta name="description" content="JNTUK affiliated">
        <meta name="author" content="Soumya">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontello.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>
        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>
        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </head>
    <style>
        @media only screen and (max-width:770px){

        }
        
    </style> 
    <body>
        <nav class="navbar navbar-default " >
            <div class="container-fluid" >
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" style="margin-bottom:-50px; ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <center>
                        <a class="navbar-brand" href="#" ><img src="/static/images/GVPCEW12.jpg" alt="logo" style='margin:10px;height:150px; width:10000px;'></a>
                                           
                    </center>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation" style="margin-top: 190px;">
                    <center>
                        <h1 style="text-shadow: 4px 4px 3px darkgrey; margin-bottom: 2px;margin-top: 7px;color: darkslategrey;">Information Retrieval Portal</h1>
                    </center>
                     
                    {% if user.is_authenticated %}
                    <div class="button navbar-right">
                        <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.45s"><a href="/login/logout/">Logout</a></button>
                        {% if user.is_faculty %}
                            <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.48s"><a href="/qr_profile/">{{request.user.first_name}}</a></button>
                        {% else %}
                            <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.48s"><a href="/qr_profile/">{{request.user.username}}</a></button>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="button navbar-right">
                        <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.45s"><a href="/login/signin/">Login</a></button>
                    </div>
                    {% endif %}
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="/">Home</a></li>
                        <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown active" data-delay="200">Clubs<b class="caret"></b></a>
                            <ul class="dropdown-menu navbar-nav">
                                <li>
                                    <a href="/cosengers/">COSCENGERS</a>
                                </li>
                                <li>
                                    <a href="/picsl/index/">PICSL</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown active" data-delay="200">CSE Department <b class="caret"></b></a>
                            <ul class="dropdown-menu navbar-nav">
                                <li>
                                    <a href="/dept_abt/">About</a>
                                </li>
                                <li>
                                    <a href="/team/">Development Team</a>
                                </li>
                                <li>
                                    <a href="/faculty/">Faculty</a>
                                </li>
                                <li>
                                    <a href="/placements/">Placements</a>
                                </li>
                                
                            </ul>
                        </li>
                       
                        <li class="wow fadeInDown" data-hover="active" data-wow-delay="0.5s"><a href="/adminst/">Administration</a></li>
                        {% if user.is_authenticated %}
                        {% if request.user.is_staff is False %}
                            <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="/accounts/">My Counselling</a></li>
                        {% endif %}
                        {% if request.user.is_staff %}
                        <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="/accounts/faculty/view_form">Counselling</a></li>
                        <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown active" data-delay="200">ADD<b class="caret"></b></a>
                            <ul class="dropdown-menu navbar-nav">
                                <li>
                                    <a href="/add_achievement/">Add Achievement</a>
                                </li>
                                <li>
                                    <a href="/add_faculty/">Update Faculty</a>
                                </li>
                                <li>
                                    <a href="/add_news/">Add News</a>
                                </li>
                                <li>
                                    <a href="/add_placement/">Add Placement</a>
                                </li>
                                <li>
                                    <a href="/add_student/">Add Student/Faculty</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="/contact/">Contact</a></li>
                      
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->
<br>
        <center>
            <div class="slider-area container" style="height:350px;">
                <div class="slider">
                    <div id="bg-slider" class="">
                        <div class="item"><img src="/static/home/gvp1.jpg" style="width:60%;height:auto;"></div>
                      <!--  <div class="item"><img src="/static/home/gvp2.png" style="width:50%;height:auto;"></div>-->
                    </div>
                </div>
    
            </div>
            
        </center>

      
        <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                       
                        <h2>Achievements</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="proerty-th">
                        {% for i in a %}
                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <img src="{{i.pic.url}}">
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="#" >{{i.name}} </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>
                                        {{i.achieve}}
                                    </b> </span> 
                                    <span class="proerty-price pull-right"></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                  <center><h5><a> <br>Features of the Portal</a></h5></center>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="#" >{{i.name}} </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>
                                        <ul>
                                            <li>Faculty Profile & Details</li>
                                            <li>Student Couseling Forms</li>
                                            <li>Sudent Details & Certificates</li>
                                            <li>PICSL Club Management</li>
                                            <li>COSCENGERS Club Management</li>
                                            <li>Updating Portal by Admin</li>
                                        </ul>
                                    </b> </span> 
                                    <span class="proerty-price pull-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    <!--
        <div class="slider-area container" style="height:350px;">
        <div class="slider">
            <div id="bg-slider" class="">
                <div class="item"><img src="/static/home/sl1.png" style="width:60%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl2.png" style="width:50%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl3.png" style="width:50%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl4.png" style="width:50%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl5.png" style="width:50%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl6.png" style="width:50%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl7.png" style="width:50%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl8.png" style="width:50%;height:auto;"></div>
               <div class="item"><img src="/static/home/sl9.png" style="width:50%;height:auto;"></div>
            </div>
        </div>

    </div>
    -->

        <!-- boy-sale area -->
        <div class="boy-sale-area">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
                        <div class="asks-first">
                            <div class="asks-first-circle">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="asks-first-info">
                                <h2 style="color:rgb(54, 52, 52)">Learning Management System</h2>
                                <p style="color:rgb(54, 52, 52)"> software application for the administration, documentation, tracking, reporting, automation, and delivery of educational institutions</p>                                        
                            </div>
                            <div class="asks-first-arrow">
                                <a href="http://www.gvpcew.net/moodle/"><span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
                        <div  class="asks-first">
                            <div class="asks-first-circle">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="asks-first-info">
                                <h2 style="color:rgb(54, 52, 52)">Alumni Portal</h2>
                                <p style="color:rgb(54, 52, 52)"> all of us together!!<br>alumni talks, events<br> gallery</p>
                            </div>
                            <div class="asks-first-arrow">
                                <a href="http://www.gvpcew.ac.in/alumni_home.php"><span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p  class="asks-call">QUESTIONS? CALL US  : <span class="strong"> + 0-891- 273-9144</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer area-->
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>About us </h4>
                                <div class="footer-title-line"></div>

                                <img src="" alt="" class="wow pulse" data-wow-delay="1s">
                                <p></p>
                                <ul class="footer-adress">
                                    <li><i class="pe-7s-map-marker strong"> </i>Survey No4, Kommadi, Junction, Madhurawada, Visakhapatnam, Andhra Pradesh 530048</li>
                                    <li><i class="pe-7s-mail strong"> </i> gvpcew@gmail.com</li>
                                    <li><i class="pe-7s-call strong"> </i> +0 891 273 9144</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Quick links </h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><a href="/faculty/">Administration</a>  </li> 
                                    <li><a href="/placements/">Placements</a>  </li>
                                    <li><a href="http://www.gvpcew.net/moodle/">LMS</a>  </li> 
                                    <li><a href="/">CSE Department</a></li> 
                                     
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Last News</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-blog">
                                    {% for news in n %}
                                    <li>
                                       
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="{{news.url}}">{{news.title}}</a></h6> 
                                            <p style="line-height: 17px; padding: 8px 2px;">{{news.date}}</p>
                                        </div>
                                    </li> <br>
                                    {% endfor %}
                                  

                                </ul>
                            </div>
                        </div>                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer news-letter">
                                <h4>Stay in touch</h4>
                                <div class="footer-title-line"></div>
                                <p>Reach us whenever required</p>

                                <form>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="E-mail ... ">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form> 

                                <div class="social pull-right"> 
                                    <ul>
                                        <li><a class="wow fadeInUp animated" href="https://twitter.com/Gvpcew_JG"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="http://www.KimaroTec.com">GVPCEW</a> , All rights reserved 2022  </span> 
                        </div> 
                        <div class="bottom-menu pull-right"> 
                            <ul> 
                                <li><a class="wow fadeInUp animated" href="/" data-wow-delay="0.2s">Home</a></li>
                                <li><a class="wow fadeInUp animated" href="/contact/" data-wow-delay="0.6s">Contact</a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
        

    </body>
</html>