{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'counselling/assets/css/main.css' %}" />
	<title>GVPCEW</title>
	<style>
		#header{
			padding-top: 0px;
		}
	</style>
</head>
<body>
    {% block content %}
    <body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					
					<!-- Logo -->
					<div class="dd" style="text-align:right;padding:2px 10px;">
						<div  class="dropdown1">
						  <button class="dropbtn1" style="height: 40px;width:fit-content" >{{user.username}}</button>
						  <div class="dropdown-content">
						  <a href="/accounts/faculty/hchange">Settings</a>
						  <a href="/">Home</a>
						  <a href="{% url "logout" %}?next=/">Logout</a>
						  </div>
						</div>
					</div>
					
					<div class="logo">
						<img src="/static/counselling/images/logo.png" />
						<h1 style="padding-bottom: 0px;min-height:50px;">Gayatri Vidya Parishad College Of Engineering For Women</h1>
						<h2 style="text-align: center; margin-bottom:0px;font-size:30px;">Counselling Management System</h2>
					  </div>	
					  <nav id="nav">
						<ul>
							<li class="current"><a href="/accounts/faculty/view_form">Students</a></li>
						    <li><a href="/accounts/faculty/update_sem">Update Semester</a></li>
							<li><a href="/accounts/faculty/add_counsellor">Add Counsellors</a></li>
						</ul>
					</nav>

                </div>
               
    {% endblock %}
</body>
</html>