
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Upload</title>
        <meta name="description" content="JNTUK affiliated">
        <meta name="author" content="Soumya">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontello.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>
        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>
        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <meta name="description" content="A nice template sold on Creative Market">
<meta name="keywords" content="linktree, personal, simple, minimal, template, links">

<!-- FAVICON -->
<link rel="icon" href="https://pbs.twimg.com/profile_images/1028344178294419456/UM_bdwXQ_400x400.jpg" />

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">

<!-- STYLE -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- SCRIPTS AND STUFF -->
<script>
    cloudinary.imageTag('{{ photo.image.url }}', {width: 70, height: 53, crop: "scale"}).toHtml();
    </script>
        <script>
         $(document).ready(function()
         {
           $('.chkvalues').click(function()
           {
             var txt = "";
             $('.chkvalues:checked').each(function()
             {
               txt+=$(this).val()+","
             });
             $('#textvalues').val(txt);
           });
         });
        </script>

    </head>
<style>

  </style>
<body>


    <nav class="navbar navbar-default ">
        <div class="">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                    <!--<a class="navbar-brand" href="index.html"><img src="./home/assets/img/gvp.jpg" alt=""></a>-->
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                {% if user.is_authenticated %}
                <div class="button navbar-right container-fluid">
                    <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.45s"><a href="/qr_profile/">DOCS</a></button>
                    <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.48s"><a href="/">HOME</a></button>
                </div>
                {% else %}
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.45s"><a href="/login/signin/">Login</a></button>
                    <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.48s"><a href="/login/face_detection/">Register</a></button>
                </div>
                {% endif %}
                    
            </div>
		</div>
	
	<center>
		<div class="section padding-top-50 padding-bottom-50 center-align">
	
            <h4 class="padding-top-15">{{q}}</h4>
        </div>
        
        <div class="section padding-bottom-50 center-align">
            {% for i in l %}
            <a href="{{i.image.url}}" target="_blank"><div class="button"><p class="white">{{i.title}}</p></div></a>
        
           <!--
                <div style="display: flex;">
                <a href="/updat/{{i.image.id}}" target="_blank"><div class="button"><p class="white">Update</p></div></a>
                <a href="" target="_blank"><div class="button"><p class="white">Delete</p></div></a>
            </div>
           -->
        
            {% endfor %}
          
        </div>
	</center>
    </body>
</html>
